<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:replace="common :: common-script"></div>
<div th:replace="common :: common-head"></div>

<body class="light-mode">

	<div th:replace="common :: common-nav"></div>

	<!-- コンテンツ -->
	<div class="container">
		<div class="content-box">
			<h1>住所検索画面</h1>
			<ul th:each="result : ${zipCodeEntity.results}" th:object="${result}">
				<li><span th:text="*{zipcode}"></span></li>
				<li><span th:text="*{address1}"></span>
						<span th:text="*{address2}"></span>
						<span th:text="*{address3}"></span></li>
				<li><span th:text="*{kana1}"></span>
						<span th:text="*{kana2}"></span>
						<span th:text="*{kana3}"></span></li>
			</ul>
			
		</div>
	</div>
	
</body>
</html>